$white-color: #ffffff;
$header-color: #40306c1c;
$main-color: #3498db;
$orange-color: #f39c12;
$card-color: #2c3e50;
$transition: 3s;

header {
  min-height: 78px;
  background-color: $header-color;
  backdrop-filter: blur(14px);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 6;
  display: flex;
  justify-content: center;
  align-items: center;

  .logo-headr {
    width: 200px;
  }
}

.headr-continer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  li {
    color: $white-color;
    cursor: pointer;
    font-size: 18px;
    height: 100%;
    min-height: 78px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 15px;
    transition: $transition;

    &.active {
      background-color: #2304483d;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 3px;
        background-color: $main-color;
        box-shadow: 0 0 25px $main-color;
      }
    }

    &:hover {
      background-color: #2304483d;
    }
  }
}

.logo-text {
  color: $main-color;
}

.logo-span {
  color: $white-color;
}

.toogle-i {
  font-size: 36px;
  cursor: pointer;
}

.start-laung {
  display: flex;
  align-items: center;
  gap: 10px;

  i {
    font-size: 20px;
    background-color: $card-color;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
  }
}

@media (max-width: 1150px) {
  header {
    nav,
    .start-laung {
      display: none;
    }
  }
}
@media (min-width: 700px) {
  header {
    .menu-icon {
      display: none;
    }
  }
}

.menu-icon{

  font-size: 25px;
}
.li-phone {
  position: fixed;
  left: 0;
  z-index: 7;
  width: 100%;
  height: 100%;
  background-color: #0b0b15c2;
  backdrop-filter: blur(20px);
  display: grid;
  grid-template-rows: 1fr 0 0;
  gap: 0px;
  top: 0;
  transition: 0.5s;
  display: none;
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  &.active {
    display: grid;
    top: 0;
  }

  .nav-phone {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    height: 100%;
    gap: 10px;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #1b0639bd;
      position: relative;
      cursor: pointer;

      &.active::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 3px;
        background-color: $main-color;
        box-shadow: 0 0 25px $main-color;
      }
    }
  }

  .close-icon {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%);
    font-size: 46px;
    background: #55557e52;
    height: 100px;
    width: 80px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 5px 5px;
    cursor: pointer;
    z-index: 5;
  }
}
