<header id="header">
  <div class="continer headr-continer">
    <a href="index.html">
      <img class="logo-headr" src="/assets/Logo/Logo4.png" alt="Logo-img" />
    </a>
    <nav>
      <li
        [ngClass]="{ active: currentActive === 'home' }"
        (click)="scrollToTop()"
      >
        Home
      </li>
      <li
        [ngClass]="{ active: currentActive === 'skills' }"
        (click)="scrollToSection('skills')"
      >
        Skills
      </li>
      <li
        [ngClass]="{ active: currentActive === 'services' }"
        (click)="scrollToSection('services')"
      >
        Services
      </li>
      <li
        [ngClass]="{ active: currentActive === 'portfolio' }"
        (click)="scrollToSection('portfolio')"
      >
        Portfolio
      </li>
      <li
        [ngClass]="{ active: currentActive === 'sec5' }"
        (click)="scrollToSection('sec5')"
      >
        Why Me
      </li>
    </nav>
    <div class="start-laung">
      <button (click)="scrollToSection('sec7')" class="Rasco-Glitch">
        Contat Me
      </button>
      <a href="/"> <i class="fal fa-globe"></i></a>
    </div>
    <i (click)="toggleMobileMenu()" class="fal fa-stream toogle-i"></i>
  </div>
</header>

<div
  [ngClass]="{
    active: shouldShowMobileMenu
  }"
  class="li-phone"
>
  <i (click)="toggleMobileMenu()" class="fal fa-times close-ico-phone"></i>
  <nav class="nav-phone">
    <li
      [ngClass]="{ active: currentActive === 'home' }"
      (click)="scrollToTop()"
    >
      Home
    </li>
    <li
      [ngClass]="{ active: currentActive === 'skills' }"
      (click)="scrollToSection('skills')"
    >
      Skills
    </li>
    <li
      [ngClass]="{ active: currentActive === 'services' }"
      (click)="scrollToSection('services')"
    >
      Services
    </li>
    <li
      [ngClass]="{ active: currentActive === 'portfolio' }"
      (click)="scrollToSection('portfolio')"
    >
      Portfolio
    </li>
    <li
      [ngClass]="{ active: currentActive === 'sec5' }"
      (click)="scrollToSection('sec5')"
    >
      Why Me
    </li>
    <li
      [ngClass]="{ active: currentActive === 'sec7' }"
      (click)="scrollToSection('sec7')"
    >
      Contat Me
    </li>
  </nav>

  <a class="en-li" href="index-en.html">
    <i class="fal fa-globe"></i> Arabic Lang</a
  >

  <nav class="social">
    <li>
      <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
    </li>
    <li>
      <a target="_blank" href="#"><i class="fab fa-instagram"></i></a>
    </li>
    <li>
      <a target="_blank" href="#"><i class="fab fa-youtube"></i></a>
    </li>
    <li>
      <a target="_blank" href="#"><i class="fab fa-telegram-plane"></i></a>
    </li>
  </nav>
</div>
