<header id="header" class="header">
  <div class="continer headr-continer">
    <a href="index.html">
      <img class="logo-headr" src="/assets/images/logos/header-light.webp" alt="Logo-img" />
    </a>
    <nav class="nav-menu">
      <li
        [ngClass]="{ active: currentActive === 'home' }"
        (click)="scrollToTop()"
        class="nav-item"
      >
        Home
      </li>
      <li
        [ngClass]="{ active: currentActive === 'skills' }"
        (click)="scrollToSection('skills')"
        class="nav-item"
      >
        Skills
      </li>
      <li
        [ngClass]="{ active: currentActive === 'services' }"
        (click)="scrollToSection('services')"
        class="nav-item"
      >
        Services
      </li>
      <li
        [ngClass]="{ active: currentActive === 'portfolio' }"
        (click)="scrollToSection('portfolio')"
        class="nav-item"
      >
        Portfolio
      </li>
      <li
        [ngClass]="{ active: currentActive === 'sec5' }"
        (click)="scrollToSection('sec5')"
        class="nav-item"
      >
        Why Me
      </li>
    </nav>
    <div class="start-laung">
      <button (click)="scrollToSection('sec7')" class="Rasco-Glitch">
        Contact Me
      </button>
      <a (click)="comingSoon()"> <i class="fal fa-globe"></i></a>
    </div>
    <fa-icon class="menu-icon" (click)="toggleMobileMenu()" [icon]="faBars"></fa-icon>
  </div>
</header>

<div
  [ngClass]="{
    active: shouldShowMobileMenu
  }"
  class="li-phone mobile-menu"
>
<fa-icon class="close-icon" (click)="toggleMobileMenu()" [icon]="faClose"></fa-icon>
  <nav class="nav-menu">
    <li
      [ngClass]="{ active: currentActive === 'home' }"
      (click)="scrollToTop()"
      class="nav-item"
    >
      Home
    </li>
    <li
      [ngClass]="{ active: currentActive === 'skills' }"
      (click)="scrollToSection('skills')"
      class="nav-item"
    >
      Skills
    </li>
    <li
      [ngClass]="{ active: currentActive === 'services' }"
      (click)="scrollToSection('services')"
      class="nav-item"
    >
      Services
    </li>
    <li
      [ngClass]="{ active: currentActive === 'portfolio' }"
      (click)="scrollToSection('portfolio')"
      class="nav-item"
    >
      Portfolio
    </li>
    <li
      [ngClass]="{ active: currentActive === 'sec5' }"
      (click)="scrollToSection('sec5')"
      class="nav-item"
    >
      Why Me
    </li>
    <li
      [ngClass]="{ active: currentActive === 'sec7' }"
      (click)="scrollToSection('sec7')"
      class="nav-item"
    >
      Contat Me
    </li>
  </nav>

</div>
