<footer>
  <h1>Mobile Software Engineer</h1>

  <div class="continer-footer">
    <nav class="li-footer">
      <li
        [ngClass]="{ active: currentActive === 'home' }"
        (click)="scrollToTop()"
      >
        Home
      </li>
      <li
        [ngClass]="{ active: currentActive === 'skills' }"
        (click)="scrollToSection('skills')"
      >
        Skills
      </li>
      <li
        [ngClass]="{ active: currentActive === 'services' }"
        (click)="scrollToSection('services')"
      >
        Services
      </li>
      <li
        [ngClass]="{ active: currentActive === 'portfolio' }"
        (click)="scrollToSection('portfolio')"
      >
        Portfolio
      </li>
      <li
        [ngClass]="{ active: currentActive === 'sec5' }"
        (click)="scrollToSection('sec5')"
      >
        Why Me
      </li>
    </nav>
    <div class="logo-container">
      <a class="icon-logo-footer" href="index.html">
        <img src="assets/Logo/Logo1.png" alt="iconLogo" />
      </a>
    </div>

    <div class="bottom details-container">
      <div class="country">Shiben Al Kom, Egypt</div>
      <div class="info">
        <div class="phone">
          +201063116380
          <i class="fas fa-phone"></i>
        </div>
      </div>
    </div>
  </div>

  <nav class="socila-meida soc-footer">
    <li>
      <a target="_blank" href="https://facebook.com/solimanware"
        ><i class="fab fa-facebook-f"></i
      ></a>
    </li>
    <li>
      <a target="_blank" href="https://instagram.com/solimanware"
        ><i class="fab fa-instagram"></i
      ></a>
    </li>
    <li>
      <a target="_blank" href="https://youtube.com/practicalJS"
        ><i class="fab fa-youtube"></i
      ></a>
    </li>
    <li>
      <a target="_blank" href="https://t.me/solimanware"
        ><i class="fab fa-telegram-plane"></i
      ></a>
    </li>
    <li>
      <a target="_blank" href="https://github.com/solimanware"
        ><i class="fab fa-brands fa-github"></i
      ></a>
    </li>
    <li>
      <a target="_blank" href="https://linkedin.com/in/solimanware"
        ><i class="fab fa-brands fa-linkedin"></i
      ></a>
    </li>
  </nav>
</footer>
