<main class="scroll-sec">
  <div class="continer fcont">
    <div class="main-contant">
      <div class="main-text">
        <!-- <span class="elment1"></span>
                    <span class="elment2"></span> -->
        <h1 data-aos="fade-up" data-aos-duration="1000">Osama Soliman</h1>
        <p data-aos="fade-up" data-aos-duration="1200">
          Hi, I'm Osama Soliman a Mobile Software Engineer, Over seven years of
          experience in Software Development, I am a fast learner and a
          self-motivated developer. I work well with teammates and enjoy getting
          the work completed in time, and love handling new challenges, love
          learning new things every day.
        </p>

        <div class="cta-container">
          <a href="/resume"
            ><button
              class="Rasco-Glitch fri-s-but"
              role="button"
              data-aos="fade-up"
              data-aos-duration="1400"
            >
              Resume
            </button></a
          >
          <button
            class="Rasco-Glitch fri-s-but"
            role="button"
            data-aos="fade-up"
            data-aos-duration="1400"
            (click)="scrollToSection('sec7')"
          >
            Contact Me
          </button>
        </div>

        <div class="clints-work">
          <div class="cli1" data-aos="fade-up" data-aos-duration="1100">
            <h3 data-value="20">
              <span class="s-p">{{ numberOfApps }}</span>
            </h3>
            <p>Apps</p>
          </div>
          <div class="cli1" data-aos="fade-up" data-aos-duration="1200">
            <h3 data-value="200">
              <span class="s-p">{{ numberOfAppUsers }}</span
              >K+
            </h3>
            <p>App users</p>
          </div>
          <div class="cli1" data-aos="fade-up" data-aos-duration="1300">
            <h3 data-value="6">
              <span class="s-p">{{ numberOfCountries }}</span
              >+
            </h3>
            <p>Countries</p>
          </div>
        </div>
      </div>

      <div class="app-main-sec">
        <div class="phone-div-flow-imgs">
          <img
            alt="phone app"
            class="Photo-logo"
            src="/assets/Imges/Pro2.png"
            alt="app-phone"
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-delay="200"
          />
        </div>
      </div>
    </div>
  </div>
</main>
