<div id="sec5" class="sec">
  <div class="continer">
    <div class="text-top" data-aos="fade-down" data-aos-duration="800">
      <h1>Why Me</h1>
      <p>
        With +7 years of experience and tenth of apps for mobile and web, I am
        able to keep:
      </p>
    </div>
    <div class="cards-sec5">
      <div class="card" data-aos="zoom-in-right">
        <div class="left">
          <h1>Application Lifecycle On a Scale</h1>
          <p>
            Supporting the entire application lifecycle (concept, design, test,
            release, and support).
          </p>
        </div>
        <div class="anima-icon">
          <script src="https://cdn.lordicon.com/lusqsztk.js"></script>
          <lord-icon
            class="lord-icons"
            src="https://cdn.lordicon.com/mdgrhyca.json"
            trigger="loop"
            style="width: 124px; height: 124px"
            colors="primary:#fff,secondary:#8e3af7"
          >
          </lord-icon>
        </div>
      </div>
      <div class="card" data-aos="zoom-in-left">
        <div class="left">
          <h1>Human readable code</h1>
          <p>
            Producing fully functional mobile applications writing clean code.
          </p>
        </div>
        <div class="anima-icon">
          <script src="https://cdn.lordicon.com/lusqsztk.js"></script>
          <lord-icon
            class="lord-icons"
            src="https://cdn.lordicon.com/qjvxqdov.json"
            trigger="loop"
            colors="primary:#fff,secondary:#8e3af7"
            style="width: 124px; height: 124px"
          >
          </lord-icon>
        </div>
      </div>
      <div class="card" data-aos="zoom-in-right">
        <div class="left">
          <h1>A pragmatic programmer</h1>
          <p>
            The cat didn't ate my source code, I am Gathering specific
            requirements and suggesting solutions.
          </p>
        </div>
        <div class="anima-icon">
          <script src="https://cdn.lordicon.com/lusqsztk.js"></script>
          <lord-icon
            class="lord-icons"
            src="https://cdn.lordicon.com/gqzfzudq.json"
            trigger="loop"
            style="width: 124px; height: 124px"
            colors="primary:#fff,secondary:#8e3af7"
          >
          </lord-icon>
        </div>
      </div>
      <div class="card" data-aos="zoom-in-left">
        <div class="left">
          <h1>Performance to the max</h1>
          <p>Troubleshooting and debugging to optimize performance.</p>
        </div>
        <div class="anima-icon">
          <script src="https://cdn.lordicon.com/lusqsztk.js"></script>
          <lord-icon
            class="lord-icons"
            src="https://cdn.lordicon.com/kbtmbyzy.json"
            trigger="loop"
            style="width: 124px; height: 124px"
            colors="primary:#fff,secondary:#8e3af7"
          >
          </lord-icon>
        </div>
      </div>
      <div class="card" data-aos="zoom-in-right">
        <div class="left">
          <h1>Better User Experience</h1>
          <p>Designing interfaces to improve user experience.</p>
        </div>
        <div class="anima-icon">
          <script src="https://cdn.lordicon.com/lusqsztk.js"></script>
          <lord-icon
            class="lord-icons"
            src="https://cdn.lordicon.com/uqpazftn.json"
            trigger="loop"
            style="width: 124px; height: 124px"
            colors="primary:#fff,secondary:#8e3af7"
          >
          </lord-icon>
        </div>
      </div>
      <div class="card" data-aos="zoom-in-left">
        <div class="left">
          <h1>New Features and Lovely updates</h1>
          <p>
            Liaising with the Product development team to plan new features.
          </p>
        </div>
        <div class="anima-icon">
          <script src="https://cdn.lordicon.com/lusqsztk.js"></script>
          <lord-icon
            class="lord-icons"
            src="https://cdn.lordicon.com/gqdnbnwt.json"
            trigger="loop"
            style="width: 124px; height: 124px"
            colors="primary:#fff,secondary:#8e3af7"
          >
          </lord-icon>
        </div>
      </div>
    </div>
  </div>
</div>
