<div>
  <h1>Choose from my Skills and <a style="color: white" href="tel://+201063116380">Contact me 📱</a></h1>
  <div class="grid">
    <!-- <div class="about">I am more experienced with Angular and Ionic. I have developed the Dawaey.com application, which is Google for Drugs. You can search for any medication inside Egypt, saving one hundred thousand doctors and pharmacists more than 5 million hours of work exploring the paper references.

            The best thing I know right now is JavaScript and Swift, but we are open to using any other tool or technology, and I used tools like Python and Dart in challenging tasks.
            I have written for the web from the days of MS Frontpage and Adobe Dreamweaver, and Muse.
            I have written for JavaScript since the days of FBML and the cool stuff we were doing with Facebook.
            
            I was in the top 10% on StackOverflow for three years by answering +150 questions that helped more than 150 thousand developers worldwide and the top 14% overall this year.
            
            I try to solve competitive programing and interview questions on LeetCode, and I have already solved more than 60 problems with intelligent algorithms.
            
            I participated in open source with about 75 different projects that differ in complexity and size
            
            </div> -->
    <div><span class="content" #content></span></div>
  </div>
</div>

<footer>
    <div class="badge">
        <a href="https://stackoverflow.com/users/4591364/smsmware">
            <img
              src="https://stackoverflow.com/users/flair/4591364.png?theme='clean'"
              alt="profile for Microsmsm at Stack Overflow, Q&amp;A for professional and enthusiast programmers"
              title="profile for Microsmsm at Stack Overflow, Q&amp;A for professional and enthusiast programmers"
            />
          </a>
    </div>
    <div class="contact-links">
        <a class="contact" href="http://linkedin.com/in/smsmware">Linkedin</a>
        <a class="contact" href="http://github.com/smsmware">Github</a>
        <a class="contact" href="tel://+201063116380">Mobile</a>
    </div>
 
</footer>
