<section class="sec skills-sec" id="skills">
  <div class="continer continer-skills">
    <div class="text-top" data-aos="fade-down" data-aos-duration="800">
      <h1>Skills</h1>
      <p>
        I like to learn new skills every day, and I am always looking for new
        challenges.
      </p>
    </div>
    <div class="skiils-div">
      <div class="skill-img">
        <img
          src="assets/Imges/Pro2.png"
          class="skills-img img-pro"
          alt="Skiils-img"
        />
        <span class="skills-flow sj1">JavaScript</span>
        <span class="skills-flow sj2">CSS</span>
        <span class="skills-flow sj3">HTML</span>
        <span class="skills-flow sj4">C#</span>
        <span class="skills-flow sj5">TypeScript</span>
        <span class="skills-flow sj6">Angular</span>
        <span class="skills-flow sj7">Git</span>
        <span class="skills-flow sj8">GitHub</span>
        <span class="skills-flow sj9">Node.js</span>
        <span class="skills-flow sj10">Express.js</span>
        <span class="skills-flow sj11">Firebase</span>
        <span class="skills-flow sj12">MongoDB</span>
        <span class="skills-flow sj13">jQuery</span>
        <span class="skills-flow sj14">Material-UI</span>
        <span class="skills-flow sj15">Bootstrap</span>
        <span class="skills-flow sj16">SASS</span>
        <span class="skills-flow sj17">Sketch</span>
        <span class="skills-flow sj18">Adobe Photoshop</span>
        <span class="skills-flow sj19">Ionic</span>
        <span class="skills-flow sj20">Capacitor</span>
        <span class="skills-flow sj21">PhoneGap</span>
        <span class="skills-flow sj22">SwiftUI</span>
        <span class="skills-flow sj23">Moment</span>
        <span class="skills-flow sj24">Chart.js</span>
        <span class="skills-flow sj25">Fullpage.js</span>
      </div>
    </div>
  </div>
</section>
