<section class="sec skills-sec" id="skills">
  <div class="continer continer-skills">
    <div class="text-top" data-aos="fade-down" data-aos-duration="800">
      <h1>Skills</h1>
      <p>
        I like to learn new skills every day, and I am always looking for new
        challenges.
      </p>
    </div>
    <div class="skills-div">
      <div class="skill-img">
        <img
          src="assets/images/me.webp"
          class="skills-img img-pro"
          alt="Skills-img"
        />
        <span class="skills-flow skill" *ngFor="let skill of skills" [ngStyle]="{
          top: skill.top,
          left: skill.left,
          bottom: skill.bottom,
          right: skill.right
        }">{{skill.name}}</span>
      </div>
    </div>
  </div>
</section>
