// Variables
$main-color: var(--main-color);
$scend-dark-color: var(--scend-dark-color);
$blur-filter: blur(10px);
$white-color: #fff300;
$shadow-color: #fff20091;
$bg-color: #6c04ed40;
$main-animation: xTr 9s infinite linear;
$breakpoint-mobile: 500px;
$breakpoint-tablet: 1000px;

section {
  margin-top: 50px;
  scroll-margin-top: 78px;
}

// Poster-flow
.poster-flow {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: $main-color;
  border-radius: 50%;
  z-index: 55;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: MoveUpPoster 3s ease infinite;

  &::after {
    content: "";
    position: absolute;
    width: 180px;
    height: 180px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    border: 2px solid $white-color;
  }
}

.img-flow {
  width: 100%;
  height: 100%;
  overflow: hidden;
  width: 150px;
  border-radius: 50%;
}

.phone-div-flow-imgs .back-img {
  position: absolute;
  width: 540px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  filter: drop-shadow(0px 0px 74px $shadow-color);
}

.cec-frist {
  min-height: 730px;
  padding: 100px 0;
  position: relative;
}

.continer-skills {
  overflow: initial;
}

.skills-sec {
  background: $scend-dark-color;
  padding: 50px 0;
}

.skill-img {
  display: flex;
  justify-content: center;
  position: relative;
  width: fit-content;
  margin: auto;
  img {
    width: 510px;
  }
}

.skill {
  animation: xTr 3s infinite linear;
}

.skills-flow {
  position: absolute;
  padding: 10px;
  border-radius: 8px;
  -webkit-backdrop-filter: $blur-filter;
  -moz-backdrop-filter: $blur-filter;
  -ms-backdrop-filter: $blur-filter;
  backdrop-filter: $blur-filter;
  background: $bg-color;
  min-width: 70px;
  text-align: center;
  align-items: center !important;
  display: flex;
  justify-content: center;
}

@keyframes xTr {
  0% {
    transform: translateY(5px);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(5px);
  }
}

// More .sj classes go here

@media (max-width: $breakpoint-tablet) {
  .skill-img {
    img {
      display: none;
    }
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    .skill {
      position: initial !important;
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .app-main-sec .Photo-logo {
    width: 340px !important;
  }

  .phone-div-flow-imgs .back-img {
    width: 350px !important;
    height: 350px !important;
  }

  .continer {
    width: 90%;
  }
  .skill-img {
    img {
      display: none;
    }
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    .skill {
      position: initial !important;
    }
  }
}
