<div class="container">
  <div class="stackoverflow fcont" data-aos="fade-up" data-aos-duration="1000">
    <div class="stack-profile">
      <img src="/assets/Imges/stackoverflow.png" alt="stackoverflow-img" />
      <a
        class="profile-button-desktop"
        href="https://stackoverflow.com/users/4591364"
      >
        <button class="Rasco-Glitch">Profile</button></a
      >
    </div>
    <div class="stats">
      <div class="st">
        <h4 data-value="3000"><span class="s-stack">~3000</span></h4>
        <p>reputation</p>
      </div>
      <div class="st">
        <h4 data-value="318"><span class="s-stack">~320</span>k</h4>
        <p>impact</p>
      </div>
      <div class="st">
        <h4 data-value="165"><span class="s-stack">165</span></h4>
        <p>answers</p>
      </div>
      <div class="st">
        <h4><i class="fal fa-trophy-alt"></i></h4>
        <p>top 14% overall</p>
      </div>
    </div>
    <a
      class="profile-button-mobile"
      href="https://stackoverflow.com/users/4591364"
    >
      <button class="Rasco-Glitch">Profile</button></a
    >
  </div>
</div>
