<section class="cec-frist scroll-sec sec" id="services">
  <div class="text-top t1">
    <h1 data-aos="fade-up" data-aos-duration="1200">My Services</h1>
    <p data-aos="fade-up" data-aos-duration="1300">
      High Quality Web and Mobile Apps
    </p>
  </div>
  <span class="elment el3"></span>
  <div class="continer">
    <div class="Features">
      <div class="Features-card" data-aos="fade-up" data-aos-duration="1000">
        <img
          src="assets/Icon/app-development.png"
          alt="icon"
          data-aos="fade-up"
          data-aos-duration="1200"
        />
        <h1 data-aos="fade-up" data-aos-duration="1300">
          I build Web and Mobile Apps
        </h1>
        <p data-aos="fade-up" data-aos-duration="1400">
          I will make the best aplication for you, I will take it from the idea
          to prototype and then to the final product.
        </p>
      </div>

      <div class="Features-card" data-aos="fade-up" data-aos-duration="1200">
        <img
          src="assets/Icon/checklist.png"
          alt="icon"
          data-aos="fade-up"
          data-aos-duration="1300"
        />
        <h1 data-aos="fade-up" data-aos-duration="1400">
          I can solve complex bugs
        </h1>
        <p data-aos="fade-up" data-aos-duration="1500">
          If you ever facing bugs in your app or website, I can solve it for
          you.
        </p>
      </div>

      <div class="Features-card" data-aos="fade-up" data-aos-duration="1500">
        <img
          src="assets/Icon/shield.png"
          alt="icon"
          data-aos="fade-up"
          data-aos-duration="1600"
        />
        <h1 data-aos="fade-up" data-aos-duration="1700">
          I am a T shaped Engineer
        </h1>
        <p data-aos="fade-up" data-aos-duration="1800">
          With lots of horozontal skills, I can help you with any problem you
          have.
        </p>
      </div>
    </div>
  </div>
</section>
