section {
  scroll-margin-top: 78px;
}





.poster-flow {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: var(--main-color);
  border-radius: 50%;
  z-index: 55;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: MoveUpPoster 3s ease infinite;

  &::after {
    content: "";
    position: absolute;
    width: 180px;
    height: 180px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    border: 2px solid #fff300;
  }
}

.img-flow {
  width: 100%;
  height: 100%;
  overflow: hidden;
  width: 150px;
  border-radius: 50%;
}

.poster1 {
  box-shadow: 15px 15px 30px #0000003d;

  img {
    transform: scale(1.1);
  }
}

.poster2 {
  animation: MoveUpPoster 2s ease infinite;
  box-shadow: -20px -18px 30px #0000003d;
}

@keyframes MoveUpPoster {
  0% {
    transform: rotate(13deg) translateY(10px);
  }

  50% {
    transform: rotate(13deg) translateY(-5px);
  }

  100% {
    transform: rotate(13deg) translateY(10px);
  }
}

.poster1 {
  left: -30px;
}

.poster2 {
  right: -40px;
  bottom: 11px;
}

.poster-flow img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 500px) {
  .app-main-sec .Photo-logo {
    width: 340px !important;
  }

  .phone-div-flow-imgs .back-img {
    width: 350px !important;
    height: 350px !important;
  }

  .continer {
    width: 90%;
  }

  .poster-flow {
    width: 125px;
    height: 125px;
  }

  .poster-flow::after {
    width: 145px;
    height: 145px;
  }
}

.phone-div-flow-imgs .back-img {
  position: absolute;
  width: 540px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  filter: drop-shadow(0px 0px 74px #fff20091);
}

.cec-frist {
  min-height: 730px;
  padding: 100px 0;
  position: relative;
}

.services {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 10px;
}

.services-card {
  background-color: var(--card-color);
  padding: 30px;
  border-radius: 5px;
  min-height: 470px;
  display: flex;
  justify-content: center;
  align-items: self-start;
  flex-direction: column;
  transition: translateY 0.2s;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    bottom: -90px;
    left: -60px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #330f7e;
    z-index: -1;
    filter: blur(122px);
  }

  &:hover {
    transform: translateY(-10px) !important;
  }

  img {
    width: 100px;
    margin-bottom: 10px;
  }

  h1 {
    color: var(--wight-color);
    margin-bottom: 20px;
    line-height: 31px;
  }

  p {
    color: var(--gray-color);
  }
}

@media (max-width: 1250px) {
  .services {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 25px;
  }
}

@media (max-width: 600px) {
  .services {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    gap: 25px !important;
  }
}

@keyframes xTr {
  0% {
    transform: translateY(5px);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(5px);
  }
}
