/* You can add global styles to this file, and also import other style files */
@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  
  :root {
    --card-height: 28vh;
    --card-width: calc(var(--card-height) / 1.2);
  }